.header {
    padding: 50px 0 50px;
    background-color: $color-bg;

    @include media-tablet {
        padding: 35px 0 32px;
    }

    @include media-mobile {
        padding: 25px 0 33.5px;
    }

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}


.nav-list {
    display: flex;
    gap: 44px;
    margin-top: -7px;

    @include media-tablet {
        gap: 46px;
        margin: 0;
    }

    @include media-mobile {
        display: none;
        margin: 0;
    }

}

.nav-item-url {
    color: $color-links-nav;
    @extend %font-add;
    @include font($size: 1.6rem, $height: 5.0rem, $weight:400);
    @extend %transition;

    &:hover {
        color: $color-green;
    }

}

.nav-item {
    cursor: pointer;
}

.active-page {
    color: #E06733;
}

.burger-icon {
    display: none;

    @include media-mobile {
        display: block;
        width: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 5.5px;
        cursor: pointer;

    }

    &:hover .burger-line {
        background-color: $color-orange;
    }

}

.burger-line {
    width: 40px;
    height: 2.0px;
    background-color: #717171;
}

.burger-menu {
    position: absolute;
    top: -500px;
    right: 0;
    width: 190px;
    height: 396px;
    background-color: $color-orange;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    z-index: 4;
    @extend %transition-slider;

}

.burger-menu-active {
    top: 0px;
}

.burger-close {
    background: url(../../assets/icons/burger-close.svg);
    width: 30px;
    height: 30px;
    cursor: pointer;
    @extend %transition;

    &:hover {
        background: url(../../assets/icons/burger-close-hover.svg);
    }
}

.burger-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-nav-item-url {
    color: $color-light;
    @extend %font-add;
    @include font($size: 1.6rem, $height: 5.0rem, $weight:400);
    @extend %transition;

    &:hover {
        color: $color-black;
    }

}

.burger-nav-item {
    cursor: pointer;
}


.active-page-burger {
    color: $color-black;
}


.nav {
    padding-top: -6px;
}

