.header {
    padding: 50px 0 50px;
    background-color: $color-bg;

    @include media-tablet {
        padding: 35px 0 32px;
    }

    @include media-mobile {
        padding: 25px 0 33.5px;
    }

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}


.nav-list {
    display: flex;
    gap: 44px;

    @include media-tablet {
        gap: 46px;
    }

    @include media-mobile {
        display: none;
    }

}

.nav-item-url {
    color: $color-links-nav;
    @extend %font-add;
    @include font($size: 1.6rem, $height: 5.0rem, $weight:400);
    @extend %transition;

    // @include media-tablet {
    //     @include font($size: 1.6rem, $height: 4.7rem, $weight:400);
    // }

    &:hover {
        color: $color-green;
    }

}

.nav-item {
    cursor: pointer;
}

.active-page {
    color: #E06733;
}

.burger-menu {
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 5.5px;
}

.burger-line {
    width: 40px;
    height: 2.0px;
    background-color: #717171;
}













