/*  Colors  */

$color-main-text: #B1AEAD;
$color-links-nav: #010201;
$color-bg:#EDF2EC;
$color-border:#E3E1D5;
$color-dropdown: #D9D9D9;
$color-dropup: #AEA1A1;



$color-black: #000000;
$color-light: rgba(255, 255, 255, 1);
$color-green: #499A18;
$color-orange: #E06733;
$color-brown: #717171;
$color-brown-dark: #636060;



