.prices {
    background-color: $color-light;
    padding-top: 39px;
    padding-bottom: 128px;

    @include media-tablet {
        padding-top: 40px;
        padding-bottom: 164px;
    }

    @include media-mobile {
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

.prices-wrapper {
    display: flex;
    justify-content: space-between;

    @include media-mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.prices-title {
    @extend %font-primary;
    @include font($size: 4.0rem, $height: 4.841rem, $weight:700);
    color: $color-black;
    margin-top: 0px;

    @include media-tablet {
        @include font($size: 3.5rem, $height: 4.2rem, $weight:700);
        margin: 0 0 0 15px;
    }

    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.0rem, $weight:700);
        margin: 0 0 0px;
        text-align: center;
    }
}

.prices-lists {
    margin-top: 60px;
    width: 332px;
    // height: 390px;
    // height: 282px;
    border: 1px solid $color-border;
    border-radius: 20px;
    padding: 34px 41px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    // @extend %transition;
    // transition: 0.4s 0.5s;

    @include media-tablet {
        margin-top: 55px;
    }

    @include media-mobile {
        margin-top: 37px;
        width: 224px;
        height: 235px;
        height: 390px;
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 29px 22px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}




.prices-lists-open {
    height: 390px;
}

.prices-list {
    width: 250px;
    height: 50px;
    // height: 154px;
    border-radius: 20px;
    background-color: $color-bg;
    // background-color: #D6E7D2;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @extend %transition;
    transition: 0.25s;

    @include media-mobile {
        width: 180px;
        height: 50px;
        padding: 16px 40px 15px 30px;
    }

}




.prices-list-top {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.prices-cost-number {
    color: #E06733;
    @include font($size: 2.0rem, $height: 2.0rem, $weight:700);

    @include media-mobile {
        @include font($size: 1.5rem, $height: 1.0rem, $weight:700);
    }
}


.prices-list-top {
    max-width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.prices-list__title {
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 2.0rem, $weight:700);
    color: $color-black;

    @include media-mobile {
        @include font($size: 1.5rem, $height: 2.0rem, $weight:700);
    }
}

.prices-list__dropdown {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-dropdown;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.dropdown-icon {
    background: url(../../assets/icons/dropdown.svg);
    width: 6px;
    height: 4px;
}

.dropdown-icon-open {
    background: url(../../assets/icons/dropup.svg);
    width: 6px;
    height: 4px;

}


.prices-contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;

    @include media-tablet {
        padding-top: 97px;
        gap: 22px;
    }

    @include media-mobile {
        padding-top: 20px;
        gap: 11px;

    }
}

.prices-subtitle {
    @extend %font-primary;
    @include font($size: 4.0rem, $height: 5.0rem, $weight:700);
    color: $color-black;
    width: 453px;
    text-align: right;

    @include media-tablet {
        @include font($size: 2.5rem, $height: 3.5rem, $weight:700);
        width: 296px;
        height: 78px;
    }

    @include media-mobile {
        @include font($size: 2.0rem, $height: 3.5rem, $weight:700);
        width: 240px;
        height: 78px;
        text-align: center;
    }
}

.prices-leafes {
    position: relative;
    @include media-mobile {
        display: none;
    }

    @include media-mobile {
        @include font($size: 2.0rem, $height: 3.5rem, $weight:700);
        width: 240px;
        height: 78px;
        text-align: center;
    }

}

.prices-leaf-top {
    background: url(../../assets/img/prices/top-tablet.png);
    width: 116px;
    height: 98px;
    position: absolute;
    top: -6px;
    right: 40px;

    @include media-tablet {
        background: url(../../assets/img/prices/top-tablet.png);
        width: 116px;
        height: 98px;
        position: absolute;
        top: 5px;
        right: 40px;

    }
}

.prices-leaf-left {
    background: url(../../assets/img/prices/left-tablet.png);
    width: 58px;
    height: 62px;
    position: absolute;
    top: 75px;
    right: 93px;
    z-index: 1;

    @include media-tablet {
        background: url(../../assets/img/prices/left-tablet.png);
        width: 58px;
        height: 62px;
        position: absolute;
        top: 88px;
        right: 94px;
        z-index: 1;

    }
}

.prices-leaf-right {
    background: url(../../assets/img/prices/right-tablet.png);
    width: 59px;
    height: 59px;
    position: relative;
    top: 40px;
    left: 8px;
    z-index: 1;

    @include media-tablet {
        background: url(../../assets/img/prices/right-tablet.png);
        width: 59px;
        height: 59px;
        position: absolute;
        top: 51px;
        left: -48px;
        z-index: 1;

    }
}

.prices-leaf-bottom {
    background: url(../../assets/img/prices/bottom-tablet.png);
    background-repeat: no-repeat;
    width: 97px;
    height: 104px;
    position: absolute;
    top: 77px;
    right: 12px;

    @include media-tablet {
        background: url(../../assets/img/prices/bottom-tablet.png);
        background-repeat: no-repeat;
        width: 97px;
        height: 104px;
        position: absolute;
        top: 88px;
        right: 12px;

    }
}

.prices-button {
    @include media-mobile {
        margin: 0 auto;
    }
}


.prices-list-bottom {
    @extend %transition;

}

.prices-line {
    @extend %transition;
    max-width: 164px;
    height: 0.5px;
    background-color: #AEA1A1;
    margin-bottom: 6px;
}

.prices-text {
    max-width: 164px;
    @extend %transition;
    @include font($size: 1.0rem, $height: 1.0rem, $weight:300);
    color: #717171;

}


.prices-cost {
    @extend %transition;

    @include media-tablet {
        display: block;

    }
}

.prices-btn {
    @extend %transition;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 25px;
    border-radius: 10px;
    border: 0;
    @include font($size: 1.4rem, $height: 2.0rem, $weight:700);
    color: #717171;
    cursor: pointer;

}


.per-hour {
    @include font($size: 1.2rem, $height: 1.2rem, $weight:400);
}

.prices-btn a {
    color: #717171;
}

.prices-list-top.is-open .dropdown-icon  {
    background: url(../../assets/icons/dropup.svg);
    width: 6px;
    height: 4px;
}

.prices-list-top.is-open .prices-list__dropdown  {
    background-color: #AEA1A1;
}

.prices-list-top.is-open {
    margin-bottom: 10px;
}


.prices-list-top + .prices-list-bottom {
    display: none;
}

.prices-list-top.is-open + .prices-list-bottom {
    display: block;
}

.prices-list-top.is-open {
    display: flex;
    margin-bottom: 10px;
}


.prices-list.is-open  {
    height: 154px;
    background-color: #D6E7D2;
}

// .prices-lists.is-open {
//     height: 390px;
// }









