.service {
    background-color: $color-bg;
    padding: 35px 0 119px;

    @include media-tablet {
        padding: 60px 0 72px;
    }

    @include media-mobile {
        padding: 30px 0 27px;
    }
}

.service-info {
    display: flex;
    gap: 140px;

    @include media-tablet {
        flex-direction: column;
        gap: 40px;
    }

    @include media-mobile {
        gap: 35px;
    }

}

.service-title {
    max-width: 306px;

    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.3rem, $weight:400);
        width: 189px;
        height: 69px;
    }
}

.service-buttons {
    margin-top: 29px;
    display: flex;
    gap: 38px;

    @include media-tablet {
        margin-top: 0px;
        flex-wrap: wrap;
        margin-top: 0px;
        gap: 38px;
    }

    @include media-mobile {
        margin-top: 0px;
        flex-wrap: wrap;
        margin-top: 0px;
        gap: 10px;
    }
}



.service-items {
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 117px;
    justify-content: center;

    @include media-tablet {
        margin-top: 40px;
        row-gap: 38px;
        column-gap: 107px;
    }

    @include media-mobile {
        justify-content: center;
        gap: 34px;
    }

}

.service-item {
    width: 329px;
    height: 450px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid $color-border;

    @include media-tablet {
        width: 280px;
        height: 450px;
    }
}

.service-item__picture > img {
    border-radius: 20px 20px 0 0;

    @include media-tablet {
        width: 280px;
    }
}

.service-item__info__title {
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 2.0rem, $weight:700);
    color: $color-orange;
    text-align: center;
}

.service-item__info__text {
    @extend %font-primary;
    @include font($size: 1.6rem, $height: 2.0rem, $weight:400);
    text-align: center;
    margin-top: 10px;

    @include media-tablet {
        width: 201px;
        margin: 10px auto 0;
    }
}


























